<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" media="all" href="../static/style/style.css" th:href="@{/style/style.css}"/>
    <title>(default title)</title>
</head>

<body>
<!--     後で削除 -->
    <header>
        <h3>
            TRS
        </h3>
        <!-- <div id="logout">
        <a href="./logout.html" th:href="@{/logout}">ログアウト</a>
    </div> -->
    </header>
    <div id="base">

        <div id="login-base">
            <h4>ログイン</h4>
            <div th:if="${param.error}">
                 <p>ユーザー名もしくはパスワードが違います</p>
            </div>
            <form action="./login.html" th:action="@{/login}" method="post">
                <div>
                    <!-- <label for="usernameInput" class="form-label">ユーザー名</label> -->
                    <input type="text" id="usernameInput" name="username" class="form-control" placeholder="User id *">
                </div>
                <div>
                    <!-- <label for="passwordInput" class="form-label">パスワード</label> -->
                    <input type="password" id="passwordInput" name="password" class="form-control"
                        placeholder="Password *">
                </div>
                <div>
                    <button id="login-button" type="submit">ログイン</button>
                </div>
                <div>
                    <a href="./issues/inquiryForm.html" th:href="@{/issues/inquiryForm}" >
                        <button id="inquiry-button" type="button">お問合せ</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</body>

</html>