<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">

<head>
    <meta charset="UTF-8">
    <title>TRS | トップページ</title>
    <!-- ↓後で削除 -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
       integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" media="all" href="../../static/style/style.css"
       th:href="@{/style/style.css}" />
</head>

<body>
   <header>
       <h3>
           TR
       </h3>
       <div id="logout">
           <a href="./logout.html" th:href="@{/logout}">ログアウト</a>
       </div>
   </header>

    <div id="playing-base">
        <div id="category-base">
            データベース編
        </div>

        <div id="question">
            <h4 th:text="Q + ${nowPlayer.nowQuizNum}">Q.01</h4>
            <p th:text="${nowPlayer.quizList.get(nowPlayer.nowQuizNum-1).description}">
                次の問い合わせを確認してください<br>
                SELECT CONCST(first_name, CONCAT(salary, hire_date)) FROM employees;<br>
                正しい記述はどれですか？
            </p>
        </div>
        <form action="${/issues/playing}" th:action="@{/issues/playing}" th:method="post">
            <div id="choce-box">
                <input type="radio" name="answer" value="1" id="1">
                <label for="1" th:text="${nowPlayer.quizList.get(nowPlayer.nowQuizNum-1).answer1}">
                    データ型は暗黙変換され、正常に実行される。
                </label>

                <input type="radio" name="answer" value="2" id="2">
                <label for="2" th:text="${nowPlayer.quizList.get(nowPlayer.nowQuizNum-1).answer2}">
                    データ型が揃っていないのでエラーになる。
                </label>

                <input type="radio" name="answer" value="3" id="3">
                <label for="3" th:text="${nowPlayer.quizList.get(nowPlayer.nowQuizNum-1).answer3}">
                    ファンクションはネストできないのでエラーになる。
                </label>

                <input type="radio" name="answer" value="4" id="4">
                <label for="4" th:text="${nowPlayer.quizList.get(nowPlayer.nowQuizNum-1).answer4}">
                    TO_CHAR変換ファンクションを入れる必要がある。
                </label>
            </div>
            <input type="submit" value="次へ" class="next-button">
        </form>
    </div>
</body>

</html>