<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
  <meta charset="UTF-8">
  <title>問題更新　｜　クイズアプリケーション</title>
</head>
<body>
<h1>問題更新</h1>
<form action="#" th:action="@{/issues/update/__${issue.id}__}" th:method="post" th:object="${issueForm}">
  <div>
    <label for="questionInput">問題文</label>
    <textarea type="text" id="questionInput" row="10" th:field="*{question}"></textarea>
    <p th:if="${#fields.hasErrors('question')}" th:errors="*{question}">(error)</p>
  </div>

  <div>
    <label for="descriptionInput">詳細</label>
    <textarea type="text" id="descriptionInput" row="10" th:field="*{description}"></textarea>
    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">(error)</p>
  </div>

  <div>
    <label for="answer1Input">選択肢1</label>
    <textarea type="text" id="answer1Input" row="10" th:field="*{answer1}"></textarea>
    <p th:if="${#fields.hasErrors('answer1')}" th:errors="*{answer1}">(error)</p>
  </div>

  <div>
    <label for="answer2Input">選択肢2</label>
    <textarea type="text" id="answer2Input" row="10" th:field="*{answer2}"></textarea>
    <p th:if="${#fields.hasErrors('answer2')}" th:errors="*{answer2}">(error)</p>
  </div>

  <div>
    <label for="answer3Input">選択肢3</label>
    <textarea type="text" id="answer3Input" row="10" th:field="*{answer3}"></textarea>
    <p th:if="${#fields.hasErrors('answer3')}" th:errors="*{answer3}">(error)</p>
  </div>

  <div>
    <label for="answer4Input">選択肢4</label>
    <textarea type="text" id="answer4Input" row="10" th:field="*{answer4}"></textarea>
    <p th:if="${#fields.hasErrors('answer4')}" th:errors="*{answer4}">(error)</p>
  </div>

  <div>
    <label for="answerInput">こたえ</label>
    <input type="number" id="answerInput" th:field="*{answer}">
    <p th:if="${#fields.hasErrors('answer')}" th:errors="*{answer}">(error)</p>
  </div>

  <div>
    <label for="categoryInput">カテゴリー</label>
    <textarea type="text" id="categoryInput" row="10" th:field="*{category}"></textarea>
    <p th:if="${#fields.hasErrors('category')}" th:errors="*{category}">(error)</p>
  </div>

  <div>
    <button type="submit">更新</button>
  </div>


</form>

</body>
</html>